.avisoCookie {
    background: none repeat scroll 0 0 #fff9f4;
    border-top: 1px solid #56636E;
    bottom: 0;
    box-shadow: 0 0 8px #56636E;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 4000;
    padding:15px;
}
.textoCookie{
    width: 80%;
    float: left;
    margin: auto;
}
.textoCookie p{
    font: 0.85em Arial, Helvetica, sans-serif;
    color: #001424;
}

.accionCookie {
    margin-right: 30px;
    float: right;
}
