/* ==========================================================================
   Global styles
   ========================================================================== */
body {
  background: #ffffff url("../img/background.jpg");;
    background-attachment: fixed;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 130px;
}

@media screen and (max-width: 979px) {
    body { padding-top: 0px; }
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#token-form{
    margin-bottom: 0;
}

#token-form button{
    margin-top: 0;
}
@media screen and (max-width: 797px) {
    #token-form button{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


p {
    color: #000000;
    font-size: 18px;
    line-height: 23px;
}

.lead {
    color: #f84b64;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #dd4955;
    font-weight: 300;
    font-size: 31px;
    line-height: 34px;
    padding-bottom: 15px;
}

h3 {
    color: #dd4955;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -0.7px;
}
.popover {
  max-width: 400px;
  width: auto;
}

.popover h3{
    color: black;
}

h3 span {
    color: #999999;
}

a {
    color: #f84b64;
    text-decoration: none;
}

a:hover {
    transition: all 0.35s ease-in-out;
    text-decoration: none;
    color: #84CCD3;

}

.btn-main {
    background: #f84b64 repeat scroll 0 0;
    font-family: 'Lato', sans-serif;
    border-bottom: 5px solid #69ACAF;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
}

.btn-main:hover {
    background: #76bdc3;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

.btn-main-small {
    background: #f84b64 repeat scroll 0 0;
    font-family: 'Lato', sans-serif;
    border-bottom: 5px solid #69ACAF;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
    text-shadow: none;
    padding: 8px 18px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.btn-main-small:hover {
    background: #76bdc3;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
}

::selection {
    background: #f84b64; /* Safari */
    color: #FFFFFF;
}

::-moz-selection {
    background: #f84b64; /* Firefox */
    color: #FFFFFF;
}

iframe {
    background-color: transparent;
    border: medium none;
    height: inherit;
    overflow: hidden;
    width: 100%;
}

.dropdown-backdrop {
    position: static;
}

/*------colors--------------------*/
.white {
    color: #FFFFFF;
}

.black {
    color: #2A2A2A;
}

.blue {
    color: #84CCD3;
}

.dark-gray {
    color: #5D5D5D;
}

.light-gray {
    color: #C5C0C0;
}

.corporate-red {
    color: #F84B64;
}

/* ==========================================================================
   Navigation styles
   ========================================================================== */

.navbar .navbar-inner {
    background-color: #2A2A2A;
    background-repeat: repeat-x;
    border-color: #2F3030;
    border-bottom: none;
}

.nav-collapse, .nav-collapse.collapse {
    background: none repeat scroll 0 0 #2A2A2A;
    height: 0;
    overflow: hidden;
}

.navbar .brand, .navbar .nav > li > a {
    color: #5d5d5d;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active > a:focus {
    background-color: transparent;
    color: #f84b64;
}

.brand {
    margin-top: 5px;
}

.navbar .nav > li > a {
    color: #474747;
    float: none;
    padding: 25px 7px;
    text-decoration: none;
    /*letter-spacing: -0.5px;*/
}

.navbar .nav > li > a:hover {
    color: #f84b64;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #f84b64;
    border-top-color: #f84b64;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #f84b64;
    border-top-color: #f84b64;
}

.navbar-fixed-top {
    margin-bottom: 0px;
}

a.login {
    color: #999999;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}

.navbar .nav-collapse .nav > li > a:hover, .navbar .nav-collapse .nav > li > a:focus, .navbar .nav-collapse .dropdown-menu a:hover, .navbar .nav-collapse .dropdown-menu a:focus {
    background-color: transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 20px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.nav-collapse .dropdown-menu a {
    font-weight: normal;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: transparent;
    background-image: none;
    background-image: -webkit-linear-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(transparent));
    background-repeat: no-repeat;
    color: #f84b64;
    text-decoration: none;
}

.dropdown-menu > li > a {
    clear: both;
    color: #5d5d5d;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}

.menu-button {
    background: #f84b64 repeat scroll 0 0;
    font-family: 'Lato', sans-serif;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 7px 12px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.menu-button:hover {
    background: #76bdc3;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

/* ==========================================================================
   Header and Carousel styles
   ========================================================================== */

.carousel {
    margin-top: 80;
    margin-bottom: 0px;
    background: #2A2A2A;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    background: none repeat scroll 0 0 rgba(15, 15, 15, 0.16);
    border: 3px solid;
    font-size: 27px;
    font-weight: bold;
    height: 40px;
    margin-top: 50px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.carousel .item {
    height: 600px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 900px;
    padding: 0 20px;
    margin-top: 20%;
}

.carousel-caption h1 i {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 55px;
    line-height: 65px;
    font-style: normal;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #fff;
    /* background-color: #2a2a2a; */
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption h2 i {
    color: #999999;
    font-weight: normal;
    font-style: italic;
    padding: 7px 15px;
    background-color: #ffffff;
    font-size: 27px;
    line-height: 65px;

}

/* ==========================================================================
   Home Page styles
   ========================================================================== */
#services {
    padding-top: 20px;
    padding-bottom: 70px;
}

.service-box {
    border-bottom: 7px solid rgba(134, 205, 212, 0.15);
    text-decoration: none;
    padding: 35px 10px 25px 10px;
}

.service-box h2 {
    margin-top: 25px;
}

.service-box a, .service-box a:hover {
    text-decoration: none;
}

.service-box:hover {
    border-bottom: 7px solid #f84b64;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
}

#message {
    background: #f84b64;
    padding-bottom: 120px;
    padding-top: 120px;
}

#message h2 {
    color: #FFFFFF;
    font-size: 43px;
    line-height: 53px;
    font-weight: 300;
}

#clients {
    padding-top: 0px;
    padding-bottom: 120px;
}

.clients img {
    padding-bottom: 20px;
    opacity: 0.6;
}

.clients img:hover {
    opacity: 1;
    transition: all 0.35s ease-in-out;
}

/* ==========================================================================
   Main Content Section styles
   ========================================================================== */

#content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.breadcrumb {
    background-color: #F2F2F2;
    border-radius: 2px 2px 2px 2px;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 8px 15px;
}

.service-icon {
    font-size: 60px;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.service-grid {
    margin-top: 25px;
}

/* ----------------Team Social Icons------------------- */

ul.team-social-icons {
    list-style: none;
    margin-left: 0px;
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 15px;
}

ul.team-social-icons li {
    display: inline;
    line-height: 30px;
}

ul.team-social-icons li a {
    color: #f84b64;
    text-decoration: none;
}

ul.team-social-icons li a:hover {
    color: #76bdc3;
    text-decoration: none;
}

/* ==========================================================================
   Blog Page styles
   ========================================================================== */

#blog {
    padding-top: 120px;
    padding-bottom: 120px;
}

.blog-links li {
    padding: 5px 0 5px 0;
}

.blog-links a {
    color: #f84b64;
    text-decoration: none;
}

.blog-links a:hover {
    color: #76bdc3;
    text-decoration: none;
}

.article-container {
    padding-top: 40px;
    padding-right: 50px;
}

.blog-article {
    padding-bottom: 80px;
}

.blog-article p {
    text-align: justify;
}

.news-date {
    background: none repeat scroll 0 0 #2a2a2a;
    max-height: 65px;
    max-width: 55px;
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 5px solid #5D5D5D;
}

.news-date h2 {
    color: #f84b64;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -3px;
    line-height: 20px;
    padding-bottom: 0;
}

.news-date h3 {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    padding-bottom: 0;
}

.sidebar-container {
    padding-top: 40px;
}

/*------Tables--------------------*/

.table thead {
    background: #f84b64;
    color: #fff;
}

/*------Tabs--------------------*/

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #f84b64 #f84b64 #DDDDDD;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f84b64;
    text-decoration: none;
    color: #FFFFFF;
}

/*------Collapse--------------------*/

.accordion-heading {
    background: none repeat scroll 0 0 #669999;
    border-bottom: 0 none;
    color: #FFFFFF;
}

.accordion-heading a, .accordion-heading a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/*------Boxed Content--------------------*/
.boxed {
    padding: 35px;
    background: #f2f2f2;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
}

/* ==========================================================================
   Bottom Section styles
   ========================================================================== */

#bottom {
    background: #5f5f5f;
    padding-top: 60px;
    padding-bottom: 120px;
}

#bottom h2 {
    color: #f84b64;
}

#bottom p {
    color: #FFFFFF;
}

a.more {
    color: #f84b64;
    font-weight: bold;
}

a:hover.more {
    color: #76bdc3;
    text-decoration: none;
}

/* ----------------Twitter Feed------------------- */

ul#twitter_update_list {
    list-style: none;
    margin-left: 0px;
}

ul#twitter_update_list li {
    display: none; /* Prevents the entire feed list from showing momentarily on page load */
}

.twitter-feed span {
    color: #FFFFFF;
    display: block;
}

.twitter-feed span a {
    color: #f84b64;
    text-decoration: none;

}

.twitter-feed span a:hover {
    color: #76bdc3;
    text-decoration: none;
}

.twitter-feed a {
    color: #ffffff;
    text-decoration: none;
}

.twitter-feed a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* ----------------Social Icons------------------- */

ul.social-icons {
    list-style: none;
    margin-left: 0px;
    font-size: 18px;
}

ul.social-icons li {
    display: inline;
    line-height: 30px;
}

ul.social-icons li a {
    color: #FFFFFF;
    text-decoration: none;
}

ul.social-icons li a:hover {
    color: #f84b64;
    text-decoration: none;
}

#footer {
    background: #2A2A2A;
    padding-top: 20px;
    padding-bottom: 60px;
}

#footer p {
    color: #999999;
    font-size: 12px;
}

.copyright a, .copyright a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

ul.footer-links {
    list-style: none;
}

ul.footer-links li {
    display: inline;
    padding-right: 20px
}

ul.footer-links li a {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

ul.footer-links li a:hover {
    color: #f84b64;
    text-decoration: none;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) {

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar .container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar .nav > li > a {
        padding: 8px 7px;
    }

    .navbar .nav-collapse .nav > li > a, .navbar .nav-collapse .dropdown-menu a {
        color: #FFFFFF;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
        background-image: none;
    }

    #content, #blog {
        padding-top: 20px;
    }

    h3 {
        font-size: 18px;
        line-height: 25px;
    }

    #message h2 {
        color: #FFFFFF;
        font-size: 30px;
        line-height: 36px;
        font-weight: 300;
    }

    .carousel .item {
        height: 400px;
        text-align: center;

    }

    .carousel-caption h1 i {
        font-size: 28px;
        line-height: 40px;
    }

    .carousel-caption h2 i {
        font-style: italic;
        padding: 7px 15px;
        font-size: 15px;
        line-height: 50px;
    }

    .article-container {
        padding-top: 40px;
        padding-right: 0px;
    }

    .news-date {
        background: none repeat scroll 0 0 #2a2a2a;
        max-height: 40px;
        max-width: 30px;
        padding: 8px;
        margin-bottom: 20px;
        border-bottom: 3px solid #5D5D5D;
    }

    .news-date h2 {
        color: #f84b64;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 7px;
        padding-bottom: 0;
    }

    .news-date h3 {
        color: #FFFFFF;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 800;
        line-height: 10px;
        padding-bottom: 0;
    }

}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar .container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar .nav > li > a {
        padding: 8px 7px;
    }

    .navbar .nav-collapse .nav > li > a, .navbar .nav-collapse .dropdown-menu a {
        color: #FFFFFF;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
        background-image: none;
    }

    #content {
        padding-top: 20px;
    }

    .carousel .item {
        height: 400px;
    }

    .carousel-caption h1 i {
        font-size: 35px;
        line-height: 50px;
    }

    .carousel-caption h2 i {
        font-style: italic;
        padding: 7px 15px;
        font-size: 17px;
        line-height: 55px;

    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar .container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar .nav > li > a {
        padding: 8px 7px;
    }

    .navbar .nav-collapse .nav > li > a, .navbar .nav-collapse .dropdown-menu a {
        color: #FFFFFF;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
        background-image: none;
    }

    #content {
        padding-top: 20px;
    }

    .carousel .item {
        height: 500px;
    }

    .carousel-caption h1 i {
        font-size: 45px;
        line-height: 60px;
    }

    .carousel-caption h2 i {
        font-style: italic;
        padding: 7px 15px;
        font-size: 22px;
        line-height: 60px;

    }

}

/* Desktops and laptops ----------- */
@media (min-width: 980px) and (max-width: 1699px) {

}

/* Large screens ----------- */
@media (min-width: 1700px) and (max-width: 2200px) {

}

/* offset for anchors */
:target {
    margin-top: -150px;
    padding-top: 150px;
}

/* floating images */
p img.pull-left {
    margin-right: 20px;
}

/* carousel background images */

/*------Header Image One---------*/
.one {
    background: url(../img/header1.jpg) no-repeat center center;
    background-size: cover;
}

/*------Header Image Two---------*/

.two {
    background: url(../img/header2.jpg) no-repeat center center;
    background-size: cover;
}

/*------Header Image Three---------*/

.three {
    background: url(../img/header3.jpg) no-repeat center center;
    background-size: cover;
}


.language-selection{
    font-size: 1.2em;
    margin-top: 5px;
}

